@model IncidentViewModelAddEdit

<!--Script for jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

@{
    string title = Model.addOrEdit + " Incident";
   
    ViewBag.Title = title;
}
<h1>@ViewBag.Title</h1>
<form asp-action="AddEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="incident.Title">Title</label>
        <input asp-for="incident.Title" class="form-control"/>

    </div>
    <div class="form-group">
        @if (Model.incident.CustomerID == 0)
        {
            <label asp-for="incident.CustomerID">Customer</label>
            <select asp-for="incident.CustomerID" class="form-control"
                asp-items="@(new SelectList(Model.customers,"CustomerID","FullName"))">
                <option value="Select a Customer..." hidden>Select a Customer...</option>
                </select>
            
        }
        else
        {
            <label asp-for="incident.CustomerID">Customer</label>
            <select asp-for="incident.CustomerID" class="form-control"
                    asp-items="@(new SelectList(Model.customers,"CustomerID","FullName"))">
            </select>
        }
       
    </div>
    <div class="form-group">
        @if (Model.incident.ProductID == 0)
        {
            <label asp-for="incident.ProductID">Product</label>
            <select asp-for="incident.ProductID" class="form-control"
                    asp-items="@(new SelectList(Model.products,"ProductID","Name"))">
                <option value="Select a Product..." hidden>Select a Product...</option>
            </select>

        }
        else
        {
            <label asp-for="incident.ProductID">Product</label>
            <select asp-for="incident.ProductID" class="form-control"
                    asp-items="@(new SelectList(Model.products,"ProductID","Name"))">
            </select>
        }

    </div>
    <div class="form-group">
        <label asp-for="incident.Description">Description</label>
        <input asp-for="incident.Description" class="form-control" />
    </div>
    <div class="form-group">
        @if (Model.incident.TechnicianID == null)
        {
            <label asp-for="incident.TechnicianID">Technician</label>
            <select asp-for="incident.TechnicianID" class="form-control"
                    asp-items="@(new SelectList(Model.technicians,"TechnicianID","Name"))">
                <option value="" hidden>Select a Technician...</option>
            </select>

        }
        else
        {
            <label asp-for="incident.TechnicianID">Technician</label>
            <select asp-for="incident.TechnicianID" class="form-control"
                    asp-items="@(new SelectList(Model.technicians,"TechnicianID","Name"))">
            </select>
        }

    </div>

    <div class="form-group">
        <label asp-for="incident.DateOpened">Date Opened</label>
        <input asp-for="incident.DateOpened" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="incident.DateClosed">Date Closed</label>
        <input asp-for="incident.DateClosed" class="form-control" />
    </div>
    <input asp-for="incident.IncidentID" type=hidden />
    <button class="btn btn-primary" type="submit">Save</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>

    <input asp-for="addOrEdit" type=hidden/>
</form>
