@model IncidentViewModelAddEdit
@{

}
<h1>@ViewBag.Title</h1>
<form asp-action="Edit" method="post">
    <div class="form-group">
       
            <label asp-for="incident.TechnicianID">Technician:  @Model.technician.Name</label>
            <input asp-for="incident.TechnicianID" class="form-control" hidden/>
    </div>
    <div class="form-group">

        <label asp-for="incident.CustomerID">Customer:  @Model.customer.FullName </label>
        <input asp-for="incident.CustomerID" class="form-control" hidden/>

    </div>
    <div class="form-group">

        <label asp-for="incident.ProductID">Product: @Model.product.Name</label>
        <input asp-for="incident.ProductID" class="form-control"hidden />

    </div>
    <div class="form-group">
        <label asp-for="incident.Title">Title:    @Model.incident.Title</label>
        <input asp-for="incident.Title" class="form-control"hidden />
       
       

    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="incident.DateOpened">Date Opened: @Model.incident.DateOpened</label> 
        <input asp-for="incident.DateOpened" class="form-control"hidden />
    </div>
    <div class="form-group">
        <label asp-for="incident.Description">Description</label>
        <input asp-for="incident.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="incident.DateClosed">Date Closed</label>
        <input asp-for="incident.DateClosed" class="form-control" />
    </div>

    <input asp-for="incident.Technician"hidden />
    <button class="btn btn-primary" type="submit">Save</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
    
    <input asp-for="incident.IncidentID" hidden />
</form>