@model List<Technician>

<table class="table table-bordered table-striped">
    <tbody>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    @foreach(Technician technician in Model)
    {
        <tr>
            <td>@technician.Name</td>
            <td>@technician.Email</td>
            <td>@technician.Phone</td>
            <td>
                <a asp-controller="Technician" asp-action="Edit"
                       asp-route-id="@technician.TechnicianID" class="btn btn-primary">EDIT</a>
            </td>
            <td>
                <a asp-controller="Technician" asp-action="Delete"
                       asp-route-id="@technician.TechnicianID" class="btn btn-primary">
                        DELETE
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Technician" asp-action="Add" class="btn btn-primary">ADD Technician</a>
